.randomTV-modalDialog {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --cc-overlay-bg: rgba(4, 6, 8, .85);
  font-family: varela round,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  text-rendering: optimizeLegibility!important;
  -webkit-font-smoothing: antialiased!important;
  --cc-bg: #181b1d;
  --cc-text: #d8e5ea;
  --cc-btn-primary-bg: #ed1c24;
  --cc-btn-primary-text: #fff;
  --cc-btn-primary-hover-bg: #c50000;
  --cc-btn-secondary-bg: #33383c;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #3e454a;
  --cc-toggle-bg-off: #667481;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #454c54;
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-block-text: #b3bfc5;
  --cc-cookie-category-block-bg: #23272a;
  --cc-cookie-category-block-bg-hover: #2b3035;
  --cc-section-border: #292d31;
  --cc-cookie-table-border: #2b3035;
  --cc-webkit-scrollbar-bg: #667481;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
  box-sizing: border-box;
  position: fixed;
  z-index: 10000;
  background-color: #f5f5f7;
  width: 360px;
  left: 50%;
  margin-left: -180px;
  box-shadow: 0 0 20px #666;
  border-radius: 3px;
  margin-bottom: 40px;
  height: auto;
  bottom: auto;
  outline: none;
  opacity: 1;
  top: 135px;
  display: block;
}

.randomTV-modalDialogInside {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  --cc-overlay-bg: rgba(4, 6, 8, .85);
  font-family: varela round,helvetica neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  --cc-bg: #181b1d;
  --cc-text: #d8e5ea;
  --cc-btn-primary-bg: #ed1c24;
  --cc-btn-primary-text: #fff;
  --cc-btn-primary-hover-bg: #c50000;
  --cc-btn-secondary-bg: #33383c;
  --cc-btn-secondary-text: var(--cc-text);
  --cc-btn-secondary-hover-bg: #3e454a;
  --cc-toggle-bg-off: #667481;
  --cc-toggle-bg-on: var(--cc-btn-primary-bg);
  --cc-toggle-bg-readonly: #454c54;
  --cc-toggle-knob-bg: var(--cc-cookie-category-block-bg);
  --cc-toggle-knob-icon-color: var(--cc-bg);
  --cc-block-text: #b3bfc5;
  --cc-cookie-category-block-bg: #23272a;
  --cc-cookie-category-block-bg-hover: #2b3035;
  --cc-section-border: #292d31;
  --cc-cookie-table-border: #2b3035;
  --cc-webkit-scrollbar-bg: #667481;
  --cc-webkit-scrollbar-bg-hover: #9199a0;
  cursor: default !important;
  box-sizing: border-box;
  max-width: 330px;
  padding: 15px 15px 25px;
  margin: 0 auto;
  text-align: center;
}

.randomTV-buttonsGrid {
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 15px;
}

.randomTV-showMethod {
  background-color: #ddd;
  padding: 6px;
  border-radius: 8px;
  font-size: 12px;
  color: #333;
  font-family: varela round,helvetica neue,Helvetica,Arial,sans-serif;
}